@model Person

@{
    ViewData["Title"] = "EditPerson";
}

<h2>EditPerson</h2>

<form asp-action="EditPerson">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfessionId" class="control-label"></label>
        <select asp-for="ProfessionId" class="form-control" asp-items="ViewBag.ProfList"></select>
        <span asp-validation-for="ProfessionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>